body{
	font-family: "Times New Roman", Times, serif;
}
h1{
	font-weight: bold;
	text-align: center;
}
h2{
	font-weight: bold;
	text-align: center;
}
#one{
	text-indent: 25px;
}
#two{
	text-indent: 50px;
}

li{
	font-size: 17px;
}

h4{
	font-weight: bold;
	font-size: 20px;
}

h3{
	font-weight: bold;
	font-size: 25px;
}
 #bodyContainer{
 	margin-bottom: 40px;
	padding: 10px;
 }